body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
}

/* Cabeçalho */
header {
    background-color: #f5e6c8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #a52a2a;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #a52a2a;
    font-weight: bold;
}

/* Promoção */
.promo {
    background-color: #e31837;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.promo h1 {
    font-size: 28px;
}

/* Rodapé institucional */
footer.institucional {
    background-color: #3e2c23;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.logo-footer {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.links-principais,
.links-secundarios {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.links-principais li,
.links-secundarios li {
    margin: 5px 0;
}

.links-principais a,
.links-secundarios a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.slogan {
    font-style: italic;
    margin-top: 20px;
}

/* Rodapé legal */
.rodape-legal {
    background-color: #f5e6c8;
    color: #5a3e2b;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}

.rodape-legal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin-bottom: 10px;
}

.rodape-legal ul li a {
    text-decoration: none;
    color: #5a3e2b;
    font-weight: bold;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}



.ingredientes {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.ingredientes h2 {
    color: #e31837;
    margin-bottom: 30px;
    font-size: 26px;
}

.ingrediente-card {
    background-color: #f5e6c8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
}

.ingrediente-card h3 {
    color: #a52a2a;
    margin-bottom: 10px;
}

.ingrediente-card ul {
    list-style: none;
    padding-left: 0;
}

.ingrediente-card ul li {
    margin-bottom: 5px;
    color: #333;
}

.cardapio {
    background-color: #fff8f0;
    padding: 40px 20px;
    text-align: center;
}

.cardapio h2 {
    color: #e31837;
    font-size: 28px;
    margin-bottom: 30px;
}

.produto {
    background-color: #f5e6c8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.produto img {
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto h3 {
    color: #a52a2a;
    margin-bottom: 5px;
}

.produto p {
    color: #333;
    font-size: 14px;
}







